@{
    ViewData["Title"] = "Home Page";
}
@model Person

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if(@Model != null)
    {
        <p>Name: @Model.Name</p>
        <p>Email: @Model.Email</p>
        <p>Age: @Model.Age</p>
    }
</div>
